<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2> Edit form </h2>

    
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post">

        <div>
            <label for="user">Username</label>
            <input type="text" name="user" id="user" placeholder="Username" value="<%= comment.user %>">
        </div>

        <div>
            <label for="text">Comment Text</label>
            <br><br>
           <textarea name="text" id="text" cols="25" rows="10"><%= comment.text %></textarea>
        </div>

        <button> Update Comment</button>
       
    </form>


    
    
</body>
</html>