<%- include("./partials/header") %>

<nav style="background-color:steelblue;color:white;font-size:30px" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Photographer's Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul id="my-list" class="navbar-nav">
          <li class="nav-item">
      Home
          </li>
          <li class="nav-item">
           Features
          </li>
          <li class="nav-item">
          Pricing
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit necessitatibus iste voluptate beatae nihil nesciunt molestiae officiis. Rem, nihil? Corrupti voluptatem optio veritatis similique maiores eaque ipsum perspiciatis. Esse, reiciendis.</p>


  <div id="grid-container" class="container">

    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>
    <div class="div-images"></div>

  </div>

<%- include("./partials/footer") %>