
<%- include("./partials/header") %>


    <h1> This is ejs template</h1>

    <%- include("./partials/Navbar") %>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui facilis quibusdam alias, deserunt iste reiciendis necessitatibus sapiente repudiandae nam quaerat deleniti totam commodi corporis ullam perferendis voluptatum! Ipsum, minus tempora.
    </p>

   <h1><%= randomNumber %></h1>
    
   <%- include("./partials/footer") %>

