<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> hello from EJS</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequuntur provident quia a molestias ratione esse tempore, quisquam at est, possimus earum mollitia ad, natus culpa magnam maiores praesentium ex.
    </p>

      <% if(Math.floor(Math.random()*10)%2=== 0){ %>

        <h2> This is an Even number</h2>

       <% }else{ %>

        <h2> this is odd number</h2>
     <% } %>
    
</body>
</html>