/* 

.container{

    width: 90vw;
    height: 80vh;
    border: 2px solid black;
    background-color: steelblue;
    padding: 20px;
}

.box{

    width: 200px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
    color: white;
    position: relative;

}

.box:nth-of-type(1){

   left: 50px;
    top: 50px;
    z-index: 4;



}


.box:nth-of-type(2){

    right: 100px;
    top: 100px;
    z-index: 100;



}

.box:nth-of-type(3){

    right: 200px;
    top: 170px;
    z-index: 3;



} */

section{

    width: 100vw;
    height: 100vh;

    background-image: url("https://images.unsplash.com/photo-1679943087717-1baf25721d73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    /* background-color: #009;
  */


}
* {
    margin: 0;
  }
  html {
    padding: 20px;
    font: 12px/20px Arial, sans-serif;
  }
  div {
    opacity: 0.7;
    position: relative;
  }
  h1 {
    font: inherit;
    font-weight: bold;
  }



  
  #div1,
  #div2 {
    border: 1px dashed #696;
    padding: 10px;
    background-color: rgb(106, 241, 106);
    opacity: 0.8;
  }
  #div1 {
    z-index: 5;
    margin-bottom: 190px;
  }
  #div2 {
    z-index: 2;
  }
  #div3 {
    z-index: -4;
    opacity: 0.9;
    height: 80vh;
    position: absolute;
    top: 40px;
    left: 180px;
    width: 330px;
    border: 1px dashed #900;
    background-color: #fdd;
    padding: 40px 20px 20px;
  }
  #div4,
  #div5 {
    border: 1px dashed #996;
    background-color: #ffc;
  }
  #div4 {
    z-index: 6;
    opacity: 1;
    margin-bottom: 15px;
    padding: 25px 10px 5px;
  }
  #div5 {
    z-index: 1;
    opacity: 1;
    margin-top: 15px;
    padding: 5px 10px;
  }
  #div6 {
    z-index: 3;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 180px;
    width: 150px;
    height: 125px;
    border: 1px dashed #009;
    padding-top: 125px;
    background-color: #ddf;
    text-align: center;
  }
  