
*{

    margin: 0;
    padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{

    background-color: aquamarine;
}

.main-heading{

    background-color: chartreuse;


}

input{

    background-color: yellow;
}

.search{

    background-color: darkgrey;


}


input[type="number"]{

    background-color: blue;




}

#searchinput{

    background-color: fuchsia;
}











