

 img{

    width: 120px;
    height: 200px;
    display: block;
    margin: 50px auto;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;


}

@keyframes bounce{

    from{


    }

    to{

      translate: 0px 400px;

      transform: rotate(2turn);
    }

} 