:root{
    --main-color:#0077b6;
}

main{
    margin-top: 5.5rem;
}

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1em;
}

.products .card img{
    height: 210px;
    padding: 10px;
}

.show-btn{
    background-color: var(--main-color);
    color:white;
}

.show-btn:hover{
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
